<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Video List</title>
  </head>
  <body>
    <h1>Video List</h1>
    <ul>
      <% videos.forEach((video) => { %>
      <li>
        <a href="/video/<%= video.video_id %>"><%= video.title %></a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
